* {
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(20, 17, 34);
    display: flex;
}

.yourMovies{
    padding: 0.8em;
    background-color: rgb(226, 161, 188);
    color: rgb(29, 31, 48);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: larger;
}

#search{
    padding: 0.8em;
   
    
}

.allCathegorys{
    display: grid;
    flex-direction: column;     
}


#film-Container{
    width: 100%; 
    height: 27em;
    padding: 1em;
    text-align: center;    
}

#tittle-film{
    padding: 0.8em; 
    font-size:medium;
    justify-content: center;
    height: 4em;     
}

#popular-Films{
  font-family: 'Yanone Kaffeesatz', sans-serif; 
  font-size: x-large;
  padding: 1em;
  background-color: #F7DC6F;
}

#toprated-Films{
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    font-size: x-large;
    padding: 1em;
    background-color: #F7DC6F;
}

#upcomingFilms{
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    font-size: x-large;
    padding: 1em;
    background-color: #F7DC6F;
}

.films-horizontal {
    overflow-x: scroll;
    width:100%;
    display: flex;
    flex-direction: row;   
}

.films-horizontal::-webkit-scrollbar-track{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: #F5F5F5;
}

.films-horizontal::-webkit-scrollbar{
    height: 0.7em;
    background-color: #F5F5F5;
}

.films-horizontal::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: #555;
}